/*!
Theme Name: vimetco
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: vimetco
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

vimetco is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
    --------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

html {
    font-family: 'Open Sans', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    font-weight: 400;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}


p {
    margin-bottom: 1.5em;
    font-size: 14px;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background-color: #fffcf4;
    color: #5f666b;
    /* Fallback for when there is no custom background color defined. */
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a {
    color: royalblue;
    -webkit-transition-duration: .5s;
    /* Safari */
    -moz-transition-duration: .5s;
    transition-duration: .5s;
}

a:visited {
    /*color: purple;*/
}

a:hover,
a:focus,
a:active {
    color: #ee3524;
    /*color: midnightblue;*/
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation li.menu-item-has-children a::after {
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    padding-left: 1px;
    margin-top: 1px;
}

.main-navigation li.menu-item-has-children ul a::after {
    content: none;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */

.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

/*--------------------------------------------------------------
# site-grid css
--------------------------------------------------------------*/

.container {
    max-width: 1170px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.link-wrapper {
    border: solid #ac2f20 1px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 6px 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background: rgb(238, 107, 36);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 53, 36, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 53, 36, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 53, 36, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6b24', endColorstr='#ee3524', GradientType=0);
    /* IE6-9 */
    -webkit-transition-duration: .5s;
    /* Safari */
    -moz-transition-duration: .5s;
    transition-duration: .5s;
    transition: all 0.6s ease 0s;
    border: solid #ee3524 5px;
    box-shadow: 0 0 0 1px rgba(159, 163, 166, 0.4) inset;
}

.btn::before {
    content: "";
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 42px;
    border-bottom-width: 0px;
    border-right: 40px solid #d1d6db;
    transition: all 0.6s ease 0s;
}

.btn:hover::before {
    border-right: 0px solid #d1d6db;
    color: #fff;
    background: rgb(238, 107, 36);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 53, 36, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 53, 36, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 53, 36, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6b24', endColorstr='#ee3524', GradientType=0);
    /* IE6-9 */
    transition: all 0.6s ease 0s;
}

/*--------------------------------------------------------------
# Header css
--------------------------------------------------------------*/

.header-top {
    background-color: #ee3523;
    padding: 10px;
}

.header-top .entry-title {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header-group {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    padding: 20px 0 66px;
    position: relative;
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #FFFFFF 50%, rgba(209, 214, 219, 0.8) 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 50%, rgba(209, 214, 219, 0.8) 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 50%, rgba(209, 214, 219, 0.8) 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(100, rgba(209, 214, 219, 0.8)));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 50%, rgba(209, 214, 219, 0.8) 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom, #FFFFFF 50%, rgba(209, 214, 219, 0.8) 100%);
}

.header-item img {
    float: left;
    padding-right: 10px;
}

.header-item p,
.abt-info figure,
.team-item figure,
.contact-info p {
    margin: 0;
}

.header-item a,
.contact-info ul li .content-box a,
.news-year a,
.sales-item a,
.job-listing-item .entry-header .entry-title a,
.apply-btn,
.policy-section a,
.director-single-section li a,
.single-page a,
.default-section a,
.operation-sub-part ul li a {
    text-decoration: none;
    color: #5f666b
}

.header-item a:hover,
.main-navigation a:hover,
.site-news-item .entry-header a:hover,
.site-info a:hover,
.page-title-box li a:hover,
.team-name .entry-header .entry-title:hover a,
.team-name .entry-header .entry-title:hover span,
.contact-info ul li .content-box a:hover,
.news-year a:hover,
.sales-item a:hover,
.job-listing-item .entry-header .entry-title a:hover,
.policy-section a:hover,
.director-single-section li a:hover,
.single-page a:hover,
.default-section a:hover,
.operation-sub-part ul li a:hover {
    color: #ee3524;
}

.main-navigation {
    position: absolute;
    top: 15px;
    z-index: 2;
}

.main-navigation li {
    padding: 20px 29.20px;
    position: relative;
    background: -moz-linear-gradient(top, rgba(209, 214, 219, 0.99) 0%, rgba(210, 215, 220, 0.99) 1%, rgba(255, 255, 255, 0.99) 50%, rgba(209, 214, 219, 0.99) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(209, 214, 219, 0.99) 0%, rgba(210, 215, 220, 0.99) 1%, rgba(255, 255, 255, 0.99) 50%, rgba(209, 214, 219, 0.99) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(209, 214, 219, 0.99) 0%, rgba(210, 215, 220, 0.99) 1%, rgba(255, 255, 255, 0.99) 50%, rgba(209, 214, 219, 0.99) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd1d6db', endColorstr='#fcd1d6db', GradientType=0);
    /* IE6-9 */
}

.main-navigation li:first-child::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 15px;
    border-right-width: 0px;
    border-top: 9px solid #3f4245;
    left: -15px;
}

{}

.main-navigation li:last-child::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 9px;
    border-top-width: 0px;
    border-left: 15px solid #a9190b;
    right: -15px;
}

.main-navigation a {
    color: #5f666b;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main-navigation li.nav-contact {
    background: rgb(238, 53, 36);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238, 53, 36, 1) 1%, rgba(238, 107, 36, 1) 50%, rgba(238, 107, 36, 1) 50%, rgba(238, 53, 36, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(238, 53, 36, 1) 1%, rgba(238, 107, 36, 1) 50%, rgba(238, 107, 36, 1) 50%, rgba(238, 53, 36, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(238, 53, 36, 1) 1%, rgba(238, 107, 36, 1) 50%, rgba(238, 107, 36, 1) 50%, rgba(238, 53, 36, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee3524', endColorstr='#ee3524', GradientType=0);
    /* IE6-9 */
}

.nav-contact a {
    color: #fff;
}

.nav-contact a:hover {
    color: #5f666b;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.fixed .main-navigation {
    top: 0;
}

body.admin-bar .fixed .main-navigation {
    top: 30px;
}

.nav-border .full-nav,
.nav-border .fixed {
    /*margin: 0 auto;
max-width: 1170px;
padding: 0 15px;*/
}

.nav-border::after,
.nav-border::before {
    display: table;
    clear: both;
}

/*--------------------------------------------------------------
# Banner css
--------------------------------------------------------------*/

.site-banner {
    position: relative;
}

.banner-content {
    padding: 170px 0;
    text-align: right;
    margin-right: 50px;
}

.banner-content .entry-title {
    font-size: 35px;
}

.banner-content a {
    margin-top: 15px;
}

.banner-content a:hover,
.accordion a:hover,
.news-heading a:hover {
    color: #fff;
}

.site-banner .owl-carousel .owl-nav {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.site-banner .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 30px;
    float: left;
    font-size: 0;
    background-color: transparent;
}

.site-banner .owl-carousel .owl-nav .owl-prev:before {
    content: "\f060";
    font-family: FontAwesome;
    background-color: #ee3524;
    color: #fff;
    font-size: 11px;
    border-radius: 50%;
    padding: 10px 11px;
}

.site-banner .owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: 30px;
    float: right;
    font-size: 0;
    background-color: transparent;
}

.site-banner .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}

.site-banner .owl-carousel .owl-nav .owl-next:before {
    content: "\f061";
    font-family: FontAwesome;
    background-color: #ee3524;
    color: #fff;
    font-size: 11px;
    border-radius: 50%;
    padding: 10px 11px;
}

.site-banner .owl-theme .owl-dots {
    position: absolute;
    bottom: 30px;
    right: 7.3%;
}

.site-banner .owl-theme .owl-dots .owl-dot span {
    background-color: #fff;
    border-radius: unset;
    width: 15px;
    height: 15px;
}

.site-banner .owl-theme .owl-dots .owl-dot.active span {
    background-color: #ee3524;
    width: 20px;
    height: 20px;
    position: relative;
    top: 2.5px;
}

/*--------------------------------------------------------------
# site-description css
--------------------------------------------------------------*/

.site-description {
    background-color: #fffcf4;
    position: relative;
    padding-bottom: 100px;
}

.description-item {
    background: rgba(238, 53, 36, 0.95);
    color: #fff;
    padding: 50px 50px 100px;
    position: relative;
    margin-top: -50px;
    z-index: 2;
}

.description-item a {
    color: #fff;
}

.description-item .entry-header span,
.news-heading .entry-header span {
    font-size: 25px;
    display: block;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.description-item .entry-header .entry-title,
.news-heading .entry-header .entry-title,
.abt-info .entry-header .entry-title,
.site-team .entry-header .entry-title,
.abt-site-info .entry-header .entry-title,
.site-contact .entry-header .entry-title,
.company-structure .entry-header .entry-title,
.news-section .entry-header .entry-title,
.career-section .entry-header .entry-title,
.internship-section .entry-header .entry-title,
.career-list-section .entry-header .entry-title {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 20px;
}

.description-item .entry-header .entry-title::before,
.news-heading .entry-header .entry-title::before,
.abt-info .entry-header .entry-title::before,
.site-team .entry-header .entry-title::before,
.abt-site-info .entry-header .entry-title::before,
.site-contact .entry-header .entry-title::before,
.company-structure .entry-header .entry-title::before,
.news-section .entry-header .entry-title::before,
.career-section .entry-header .entry-title::before,
.internship-section .entry-header .entry-title::before,
.career-list-section .entry-header .entry-title::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 5px;
    background-color: #ee6b24;
    bottom: 0;
}

.description-item .entry-content,
.news-heading .entry-content,
.abt-info .entry-content,
.apply-form-item .entry-content,
.abt-site-info-item .entry-content,
.abt-site-info-item .entry-content p,
.listing-content .entry-content p,
.listing-content .entry-content,
.director-single-section .entry-content,
.article-post .entry-content,
.single-article-post .entry-content,
.sub-part-content .entry-content {
    margin-top: 0;
}

.site-description .col-7 {
    justify-content: flex-end;
    float: right;
    position: absolute;
    right: 0;
    z-index: 1;
}

.description-img {
    padding-top: 100px;
}

/*--------------------------------------------------------------
# number-counter css
--------------------------------------------------------------*/

.number-counter {
    padding: 150px 0;
    position: relative;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.number-counter::before,
.page-title-box::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
}

.number-counter .counter-value {
    font-size: 50px;
    font-weight: 800;
}

.number-counter .number-title {
    font-size: 20px;
    text-transform: uppercase;
}

.number-counter figure {
    float: left;
    margin-right: 20px;
    margin-left: 40px;
}

/*--------------------------------------------------------------
# site-core-value css
--------------------------------------------------------------*/

.site-core-value {
    position: relative;
    background-color: #fffcf4;
    padding-top: 100px;
}

.site-core-value ul,
.abt-site-info ul,
.page-title-box ul,
.news-year ul,
.sales-info ul,
.apply-form-item ul,
.policy-section ul,
.site-core-value ul.accordion li.active ol {
    margin: 0;
    list-style: none;
    padding: 0;
}

.site-core-value ul.accordion li.active ol li,
.site-core-value ul.accordion li.active ul li {
    border-top: none;
    margin-bottom: 10px;
}

.site-core-value ul.accordion li.active ol li:last-child,
.site-core-value ul.accordion li.active ul li:last-child {
    border-top: none;
    border-bottom: none;
}

.site-core-value li {
    border-top: solid #a3a6a5 1px;
}

.site-core-value li:last-child {
    border-bottom: solid #a3a6a5 1px;
}

.site-core-value .active .entry-header {
    background-color: #e7e6e0;
    border-top: solid #a3a6a5 1px;
}

.site-core-value .entry-header .entry-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #ee3524;
    padding: 10px 20px;
    cursor: pointer;
}

.site-core-value .accordion .entry-content {
    padding: 15px 20px 40px;
    margin: 0;
}

.btnAccordionToggle,
.site-core-value ul .link-btn,
.news-heading .link-btn {
    float: right;
}

.btnAccordionToggle {
    font-size: 40px;
    line-height: 0.7;
}

.site-core-value figure {
    margin: 0;
}

/*--------------------------------------------------------------
# site-news css
--------------------------------------------------------------*/

.site-news {
    padding-bottom: 70px;
    position: relative;
}

.site-news .news-heading {
    background: rgba(238, 53, 36, 0.95);
    color: #fff;
    padding: 30px 30px 85px;
    position: relative;
    margin-top: -83px;
    z-index: 2;
}

figure.img-overlay {
    position: relative;
    overflow: hidden;
    background: rgba(238, 53, 36, 0.95);
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

figure.img-overlay * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

figure.img-overlay img {
    max-width: 100%;
    vertical-align: top;
    width: 100%;
}

figure.img-overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 24px;
    color: #ee3524;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

figure.img-overlay a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

figure.img-overlay:hover img {
    transform: scale3d(1.05, 1.05, 1);
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

figure.img-overlay:hover i {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.site-news-item .entry-header a {
    font-size: 16px;
    color: #5f666b;
    text-decoration: none;
}

.site-news-item .post {
    min-height: 113px;
    position: relative;
    padding: 20px;
    border-bottom: solid #dcdad3 1px;
    border-right: solid #dcdad3 1px;
    border-left: solid #dcdad3 1px;
}

.site-news-item .post-meta .date {
    background: rgba(238, 53, 36, 0.95);
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 14px;
    position: absolute;
    top: -15px;
    left: 15px;
    color: #fff;
    letter-spacing: 1px;
}

.site-news .col-7 .col-6 {
    margin-bottom: 30px;
}

.site-news .col-7 {
    padding-top: 100px;
}

/*--------------------------------------------------------------
# subscribe section css
--------------------------------------------------------------*/

.signup-section {
    text-align: center;
    padding: 75px 0 95px;
    position: relative;
    background-size: auto auto !important;
    background-repeat: no-repeat !important;
    background-position: 40% 100% !important;
}

.signup-content {
    max-width: 490px;
    margin: 0 auto;
}

.section-title {
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;
    color: #EE3524;
    margin-bottom: 15px;
}

.signup-content .mc4wp-form {
    padding: 7px;
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d3d8dc+0,ffffff+45,ffffff+56,d3d8dc+100 */
    background: #d3d8dc;
    /* Old browsers */
    background: -moz-linear-gradient(top, #d3d8dc 0%, #ffffff 45%, #ffffff 56%, #d3d8dc 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d3d8dc 0%, #ffffff 45%, #ffffff 56%, #d3d8dc 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d3d8dc 0%, #ffffff 45%, #ffffff 56%, #d3d8dc 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d8dc', endColorstr='#d3d8dc', GradientType=0);
    /* IE6-9 */
    overflow: hidden;
}

.signup-content .mc4wp-form:before {
    position: absolute;
    display: block;
    content: "";
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ee3524+0,ed6b24+45,ed6b24+55,ee3524+100 */
    background: #ee3524;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ee3524 0%, #ed6b24 45%, #ed6b24 55%, #ee3524 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ee3524 0%, #ed6b24 45%, #ed6b24 55%, #ee3524 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ee3524 0%, #ed6b24 45%, #ed6b24 55%, #ee3524 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee3524', endColorstr='#ee3524', GradientType=0);
    /* IE6-9 */
    right: -12px;
    width: 157px;
    height: 183%;
    top: -20px;
    transform: rotate(16deg);
}

.signup-content .mc4wp-form-fields {
    border: 1px solid rgba(159, 163, 166, 0.4);
    overflow: hidden;
    position: relative;
}

.signup-content .mc4wp-form-fields > p {
    margin: 0;
}

.signup-content .signup-button {
    width: 144px;
    float: right;
}

.signup-content .signup-button input {
    background: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.signup-content .signup-button input,
.signup-content .mc4wp-email-box input {
    background: none;
    border: none;
    width: 100%;
    padding: 10px;
    line-height: 1;
    height: 40px;
}

.signup-content .mc4wp-email-box {
    width: 69%;
    width: calc(100% - 144px);
    width: -webkit-calc(100% - 144px);
    float: left;
}

.signup-content .mc4wp-email-box input {
    padding: 10px 20px;
}

.signup-content .mc4wp-email-box input:focus {
    outline: none;
}

/*--------------------------------------------------------------
# Footer css
--------------------------------------------------------------*/

.site-info {
    position: relative;
    padding: 100px 0;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.site-info:before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    top: 0;
    bottom: 0;
    display: block;
}

.site-info a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.site-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    padding-top: 20px;
}

.site-footer li {
    position: relative;
    padding-left: 25px;
    padding-bottom: 10px;
}

.site-info .widget_nav_menu li a::before {
    content: "\f08e";
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    color: #ee3524;
}

.site-footer .site-address li {
    padding-left: 0;
}

.site-info .site-address li .footer-icon,
.site-address li .footer-icon {
    width: 25px;
    height: 25px;
    float: left;
    color: #ee3524;
}

.site-footer .entry-header .entry-title {
    text-transform: uppercase;
    font-size: 18px;
}

.site-address p {
    margin: 0 0 0 25px;
}

.site-info img {
    text-align: right;
    float: right;
}

.copyright {
    background-color: #ee3524;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
}

.legal ul,
.contact-info ul,
.listing-content ul,
.director-single-section ul,
.single-page ul,
.default-section ul,
.operation-sub-part ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.legal ul li,
.listing-content ul li {
    display: inline-block;
    padding: 0;
    position: relative;
}


.legal ul li::before {
    content: "|";
    color: #fff;
    padding: 0 5px 0 3px;
}

.legal a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}

.legal a:hover {
    color: #5f666b;
}

.copyright p {
    margin: 0;
    text-align: right;
    color: #fff;
}

/*--------------------------------------------------------------
# About-us css
--------------------------------------------------------------*/

.page-title-box {
    padding: 100px 0;
    position: relative;
    font-family: 'Oswald', sans-serif;
}

.page-title-box li {
    display: inline-block;
    font-size: 20px;
    color: #ee3524;
    text-transform: uppercase;
}

.page-title-box li:first-child {
    padding-right: 4px;
}

.page-title-box li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.abt-info {
    padding: 100px 0;
}

.abt-info img,
.team-item img {
    width: 100%;
}

.team-item {
    border: solid #b8b7b7 1px;
}

.site-team .team-name .entry-header .entry-title {
    margin-bottom: 0;
}

.team-name {
    text-align: center;
    background-color: #ffffff;
    padding: 15px 0;
}

.team-name .entry-header .entry-title {
    font-size: 20px;
    padding-bottom: 0;
}

.team-name .entry-header .entry-title::before,
.article-list .site-news-item .entry-header .entry-title:before,
.fixed .main-navigation li:first-child::before,
.fixed .main-navigation li:last-child::before,
.abt-site-info .site-address .entry-header .entry-title::before,
.site-contact .sales-item .entry-header .entry-title::before,
.site-contact .sales-person-item .entry-header .entry-title::before,
.job-listing-item .entry-header .entry-title::before,
.legal ul li:first-child::before,
.operation-sub-part .resp-tabs-list li::after,
.main-navigation .menu-item-has-children li:first-child::before,
.main-navigation .menu-item-has-children li:last-child::before {
    content: none;
}

.team-name .entry-header .entry-title span {
    font-size: 14px;
    display: block;
    color: #828282;
}

.team-name a {
    color: #272727;
    text-decoration: none;
}

.site-team {
    padding: 100px 0;
}

.management-team {
    padding-top: 0;
}

.site-team .entry-header .entry-title {
    margin-bottom: 50px;
}

.overlay {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
}

.overlay * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.overlay img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
    width: 100%;
}

.overlay figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    z-index: 1;
    align-items: center;
    transform: translate(-50%, -50%);
    opacity: 0;
    margin: 0 auto;
    display: inline-grid;
}

.overlay:hover figcaption {
    opacity: 1;
}

.overlay a.btn {
    padding: 10px 20px;
    text-align: center;
}

.overlay a {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    text-transform: uppercase;
    color: #fff;
}

.overlay ul {
    -webkit-transform: translateY(100%);
    transform: translateY(20%);
    margin: 0;
    padding: 0;
    text-align: center;
}

.overlay ul li {
    display: inline-block;
    padding: 10px;
}


.overlay:hover > img,
.overlay.hover > img {
    opacity: 0.1;
}

.overlay:hover a,
.overlay.hover ul {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.site-team .owl-theme .owl-nav {
    display: none;
}

.site-team .owl-item {
    padding-right: 15px;
    padding-left: 15px;
}

.site-team .owl-theme .owl-dots .owl-dot span {
    border-radius: unset;
    width: 20px;
    height: 20px;
}

.site-team .owl-theme .owl-dots .owl-dot.active span,
.site-team .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ee3524;
}

.site-team .owl-theme .owl-dots {
    margin-top: 30px;
}

.abt-site-info {
    background-color: #1e2126;
    color: #fff;
    position: relative;
}

.abt-site-info-item {
    padding: 85px 0;
}

.abt-site-info .entry-header .entry-title {
    color: #fff;
    margin-bottom: 30px;
}

.abt-site-info .site-address .entry-header .entry-title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
}

.abt-site-info li {
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}

.abt-site-info a,
.abt-info a {
    text-decoration: none;
    color: #fff;
}

.abt-site-info .site-address li .footer-icon {
    color: #fff;
}

.abt-map {
    width: 55%;
    position: absolute;
    top: 0;
}

.company-structure {
    background-color: #fbf8f0;
    padding: 100px 0;
    margin: 0 auto;
}

.company-structure figure {
    margin-bottom: 0;
    margin-top: 30px;
}


/*--------------------------------------------------------------
# contact css
--------------------------------------------------------------*/

.site-contact {
    padding: 100px 0;
}


.contact-info,
.sales-info {
    font-family: 'Oswald', sans-serif;
    border: 1px solid #EEEEEE;
    padding: 33px;
    margin-top: 30px;
}

.sales-info {
    margin-top: 10px;
    width: 100%;
    float: left;
    padding: 0px;
    margin-bottom: 20px;
}

.contact-info ul li .icon-box,
.contact-info ul li .content-box,
.sales-info ul li .icon-box,
.sales-info ul li .content-box,
.job-listing-item .listing-item-img,
.job-listing-item .listing-content,
.article-img,
.article-post {
    display: table-cell;
    vertical-align: middle;
}

.sales-info ul li .icon-box,
.sales-info ul li .content-box {
    padding-right: 10px;
}

.contact-info ul li {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #EEEEEE;
}

.sales-info ul li {
    width: 50%;
    float: left;
    padding: 20px;
    border-right: 1px solid #EEEEEE;
}

.sales-info ul li:last-child {
    border-right: none;
}

.contact-info ul li:last-child,
.news-year li:last-child,
.sales-info ul li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.contact-info ul li .icon-box i {
    color: #ee3524;
    font-size: 35px;
    position: relative;
    width: 50px;
}

.contact-info ul li .content-box {
    font-weight: 400;
    font-size: 16px;
}

.contact-info ul li .content-box p {
    font-weight: 400;
    font-size: 16px;
}

.contact-form label,
.apply-form-wrapper label,
.job-description label,
.comment-respond label {
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.contact-form select {
    font-family: 'Oswald', sans-serif;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="url"],
.contact-form input[type="password"],
.contact-form input[type="search"],
.contact-form input[type="number"],
.contact-form input[type="tel"],
.contact-form input[type="range"],
.contact-form input[type="date"],
.contact-form input[type="month"],
.contact-form input[type="week"],
.contact-form input[type="time"],
.contact-form input[type="datetime"],
.contact-form input[type="datetime-local"],
.contact-form input[type="color"],
.contact-form textarea,
.contact-form select,
.apply-form-wrapper input[type="text"],
.apply-form-wrapper input[type="file"],
.apply-form-wrapper input[type="email"],
.apply-form-wrapper input[type="url"],
.apply-form-wrapper input[type="password"],
.apply-form-wrapper input[type="search"],
.apply-form-wrapper input[type="number"],
.apply-form-wrapper input[type="tel"],
.apply-form-wrapper input[type="range"],
.apply-form-wrapper input[type="date"],
.apply-form-wrapper input[type="month"],
.apply-form-wrapper input[type="week"],
.apply-form-wrapper input[type="time"],
.apply-form-wrapper input[type="datetime"],
.apply-form-wrapper input[type="datetime-local"],
.apply-form-wrapper input[type="color"],
.apply-form-wrapper textarea,
.apply-form-wrapper select,
.comment-respond .comment-form-comment textarea,
.comment-respond .comment-form-author input[type="text"],
.comment-respond .comment-form-email input[type="email"],
.comment-respond .comment-form-url input[type="url"] {
    border-radius: unset;
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    box-shadow: 0px 0px 0px 2px transparent;
    transition: box-shadow 0.3s;
}

.apply-form-wrapper input[type="file"],
.job-description input[type="file"] {
    border: 1px solid #ccc;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.apply-form-wrapper input[type="file"]:focus,
.contact-form input[type="url"]:focus,
.contact-form input[type="password"]:focus,
.contact-form input[type="search"]:focus,
.contact-form input[type="number"]:focus,
.contact-form input[type="tel"]:focus,
.contact-form input[type="range"]:focus,
.contact-form input[type="date"]:focus,
.contact-form input[type="month"]:focus,
.contact-form input[type="week"]:focus,
.contact-form input[type="time"]:focus,
.contact-form input[type="datetime"]:focus,
.contact-form input[type="datetime-local"]:focus,
.contact-form input[type="color"]:focus,
.contact-form textarea:focus,
.contact-form select:focus,
.apply-form-wrapper input[type="text"]:focus,
.apply-form-wrapper input[type="email"]:focus,
.apply-form-wrapper input[type="url"]:focus,
.apply-form-wrapper input[type="password"]:focus,
.apply-form-wrapper input[type="search"]:focus,
.apply-form-wrapper input[type="number"]:focus,
.apply-form-wrapper input[type="tel"]:focus,
.apply-form-wrapper input[type="range"]:focus,
.apply-form-wrapper input[type="date"]:focus,
.apply-form-wrapper input[type="month"]:focus,
.apply-form-wrapper input[type="week"]:focus,
.apply-form-wrapper input[type="time"]:focus,
.apply-form-wrapper input[type="datetime"]:focus,
.apply-form-wrapper input[type="datetime-local"]:focus,
.apply-form-wrapper input[type="color"]:focus,
.apply-form-wrapper textarea:focus,
.apply-form-wrapper select:focus,
.comment-respond .comment-form-comment textarea:focus,
.comment-respond .comment-form-author input[type="text"]:focus,
.comment-respond .comment-form-email input[type="email"]:focus,
.comment-respond .comment-form-url input[type="url"]:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px #eca29b;
}

.contact-form button,
.contact-form input[type="button"],
.contact-form input[type="reset"],
.contact-form input[type="submit"],
.apply-form-wrapper input[type="submit"],
.job-description input[type="submit"],
.comment-respond .form-submit input[type="submit"] {
    padding: 6px 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: unset;
    background: rgb(238, 107, 36);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 53, 36, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 53, 36, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 107, 36, 1) 0%, rgba(238, 53, 36, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee6b24', endColorstr='#ee3524', GradientType=0);
    /* IE6-9 */
    -webkit-transition-duration: .5s;
    /* Safari */
    -moz-transition-duration: .5s;
    transition-duration: .5s;
    transition: all 0.6s ease 0s;
    border: solid #ee3524 5px;
    box-shadow: 0 0 0 1px rgba(159, 163, 166, 0.4) inset;
    line-height: unset;
}

.contact-form input[type="submit"]:hover,
.contact-form input[type="submit"]:active,
.apply-form-wrapper input[type="submit"]:hover,
.job-description input[type="submit"]:hover,
.comment-respond .form-submit input[type="submit"]:hover {
    border-color: #ee3524;
    color: #5f666b;
    background: transparent;
}

.contact-form .wpcf7 {
    margin-top: 30px;
}

.site-contact .sales-item .entry-header h4.entry-title {
    font-size: 18px;
}

.site-contact .sales-person-item .entry-header .entry-title {
    font-size: 20px;
    padding-bottom: 0;
}


/*--------------------------------------------------------------
# News css
--------------------------------------------------------------*/

.news-section {
    padding: 100px 0;
}

.news-year {
    background-color: #fbf8f0;
    padding: 20px;
    border: 1px solid #EEEEEE;
}

.news-year a {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.news-year li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EEEEEE;
}

.article-list figure,
.career-section figure {
    margin: 0;
}

.article-list .col-4,
.job-listing .col-6 {
    margin-bottom: 30px;
}

.article-list .site-news-item .entry-header .entry-title {
    padding-bottom: 0;
    font-size: 16px;
}


/*--------------------------------------------------------------
# pagination css
--------------------------------------------------------------*/

.pagination {
    display: block;
    padding: 0;
    margin: 0;
}

.pagination li {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Helvetica Neue, sans-serif;
    color: #444;
}

.pagination li a,
.pagination li span {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    position: relative;
    margin-right: 1px;
    color: inherit;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.pagination li.active span {
    border: solid red 1px;
    border-radius: 50%;
}

.pagination li a:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 2px #ee3524;
    -webkit-transform: scale(0);
    border-radius: 100px;
    -webkit-transition: all .25s;
}

.pagination li a:hover {
    color: transparent;
}

.pagination li a:hover:before {
    -webkit-transform: scale(.3);
    box-shadow: inset 0 0 0 4px #ee3524;
}

.pagination li.active a:before {
    -webkit-transform: scale(1);
    box-shadow: inset 0 0 0 1px #ee3524;
}

.pagination li.active a:hover {
    color: #5f666b;
}

/*--------------------------------------------------------------
# tab css
--------------------------------------------------------------*/

.contact-form #parentHorizontalTab {
    margin-top: 30px !important;
}

.contact-form .resp-tabs-list li {
    text-align: center;
    width: 50%;
    float: left;
}

ul.resp-tabs-list {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    padding: 13px 15px;
    /*margin: 0 4px 0 0;*/
    list-style: none;
    cursor: pointer;
    float: left;
    font-family: 'Oswald', sans-serif;

}

.resp-tabs-container {
    padding: 0px;
    background-color: #fbf8f0;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
    /*border: 1px solid #eee !important;*/
    /*border: 1px solid #5AB1D0 !important;*/
    border-bottom: none;
    /*margin-bottom: -1px !important;*/
    padding: 12px 14px 14px 14px;
    /*border-top: 4px solid #f5f5f5 !important;
    border-bottom: 0px #fff solid !important;*/
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fbf8f0 !important;
}

.resp-content-active,
.resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #eee;
    border-top-color: #eee;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 25%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px;
    margin: 0 0 4px;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 75%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active {
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    /*padding: 14px 15px 15px 14px !important;*/
    border-top: 1px solid;
    /*border: 1px solid #5AB1D0 !important;
    border-left: 4px solid #5AB1D0 !important;
    */
    margin-bottom: 4px !important;
    /*border-right: 1px #FFF solid !important;*/
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active {
    background: #DBDBDB;
    /* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;
    /* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;
    /* !important;*/
}

/*------------------------------------------------------
#career css
--------------------------------------------------------*/

.career-list-section {
    padding: 100px 0;
}

.career-section {
    padding-top: 100px;
}

.career-section .col-9 {
    margin: 0 auto;
}

.career-section .working-content {
    background-color: #fff;
    padding: 30px;
    position: relative;
    z-index: 2;
}

.career-section figure {
    position: relative;
    margin-top: -100px;
}

.apply-form {
    padding-bottom: 100px;
}

.internship-section {
    background-color: #fbf8f0;
    padding: 100px 0;
}

.job-listing-item .entry-header .entry-title {
    font-size: 18px;
    padding-bottom: 5px;
}

.job-listing-item .entry-header .entry-title span {
    display: block;
}

.listing-content ul {
    margin: 0 0 15px;
}

.listing-content ul li {
    border-right: solid #eee 1px;
    padding-right: 15px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 600;
}

.listing-content ul li:last-child {
    border-right: none;
}

.listing-item-img {
    width: 25%;
    padding-right: 15px;
}

.listing-content .entry-content p {
    margin-bottom: 0;
}

.job-type {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    float: left;
    padding: 8px 18px;
    border: solid #eee 1px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.apply-btn {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 8px 18px;
    border: solid #eee 1px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.apply-btn:hover {
    background-color: #ee6b24;
    color: #fff;
}

.job-listing-item {
    border: solid #eee 1px;
    padding: 20px 10px;
    background-color: #fff;
}

.apply-form .col-8,
.single-page .col-9 {
    margin: 0 auto;
}

.apply-form-item ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.apply-form-item ul li::before {
    content: "\f05d";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    color: #ee3524;
}

.apply-form .col-8 {
    margin: 0 auto;
}

.apply-form-item ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.apply-form-item ul li::before {
    content: "\f05d";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    color: #ee3524;
}

.job-detail {
    border: 1px solid #eee;
    background-color: #fbf8f0;
    padding: 30px;
}

.job-detail p {
    font-size: 18px;
    margin: 5px;
}

.job-detail strong {
    font-family: 'Oswald', sans-serif;
    padding-right: 5px;
}

.job-description p strong {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.job-description input[type="text"],
.job-description input[type="email"],
.job-description input[type="tel"],
.job-description select,
.job-description textarea,
.job-description input[type="file"] {
    border-radius: unset;
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    box-shadow: 0px 0px 0px 2px transparent;
    transition: box-shadow 0.3s;
}

.job-description input[type="text"]:focus,
.job-description input[type="email"]:focus,
.job-description input[type="tel"]:focus,
.job-description select:focus,
.job-description input[type="file"]:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px #eca29b;
}



/*----------------------------------------
#policy css
-------------------------------------------*/

.policy-section {
    padding: 100px 0;
}

.policy-section li {
    padding-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.policy-section li:before {
    content: "\f05d";
    position: absolute;
    font-family: FontAwesome;
    left: 0;
    color: #ee3524;
}



/*------------------------------------------------
        director-single-section
        -------------------------------------------------*/

        .director-single-section {
            padding: 100px 0;
        }

        .director-single-section .entry-header .entry-title span {
            display: block;
            font-size: 18px;
            color: #828282;
        }

        .director-single-section ul {
            margin-top: 10px;
        }

        .director-single-section li {
            display: inline-block;
            padding-right: 15px;
        }

        .director-single-section li a {
            font-size: 16px;
        }

/*---------------------------------------------
#Sustainable Development css
-----------------------------------------------*/

.sustainable-section {
    padding: 100px 0;
}

.sustainable-section .entry-header .entry-title,
.product-section .entry-header .entry-title {
    font-size: 35px;
}

.sustainable-sub-heading ul,
.product-sub-heading ul {
    padding: 0 15px;
    list-style: none;
    margin: 20px 0;
}

.sustainable-sub-heading ul li,
.product-sub-heading ul li,
.operation-sub-part li {
    font-size: 17px;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    position: relative;
    padding-left: 30px;
}

.single-page .job-description li {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    display: block;
}

.sustainable-sub-heading ul li::before,
.product-sub-heading ul li::before,
.job-description li::before {
    content: "\f0a4";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    color: #ee3524;
}

.article-img,
.article-post {
    vertical-align: top;
}

.pdf-link {
    display: inline-block;
}

.pdf-link i {
    float: left;
    margin-top: 9px;
    padding-right: 10px;
}

.pdf-link img,
.pdf-link a {
    display: inline-block;
    float: left;
}

.pdf-link a {
    margin-top: 6px;
}

.article-post .entry-header .entry-title,
.sub-part-content .entry-header .entry-title {
    font-size: 20px;
}

.article-img {
    width: 45%;
    padding-right: 30px;
}

.pdf-link a,
.article-post a,
.sub-part-content a {
    color: #ee3524;
    text-decoration: none;
    border-bottom: solid #fffcf4 2px;
}

.pdf-link a:hover,
.article-post a:hover,
.sub-part-content a:hover {
    color: #5f666b;
    border-bottom: solid #5f666b 2px;
}

.sustainable-post article,
.product-post article {
    border-bottom: solid #eee 1px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.article-post h5.entry-title a:hover {
    border-bottom: none;
}

.sustainable-post,
.product-post {
    margin-top: 30px;
}


/*---------------------------------------
#product and sale css
------------------------------------------*/

.single-product-section,
.default-section,
.single-page,
.operation-sub-part {
    padding: 100px 0;
}

.product-section {
    padding: 100px 0 50px;
}

.single-product-section .col-9 {
    margin: 0 auto;
}

table {
    margin-bottom: 0;
}

table th,
table td {
    border: 2px solid rgba(238, 238, 238, 0.75);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

table.align-left td,
.align-left {
    text-align: left;
    margin-bottom: 0;
}

table th {
    background-color: #ee3524;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
}

table tr:nth-child(odd) {
    background-color: #f5f5f5;
}

.table-data span {
    font-size: 12px;
}

.table-data {
    /*margin-bottom: 30px;*/

    /*border-collapse: collapse;
    border-spacing: 0;
    width: 100%;*/
}

.product-post article {
    border-bottom: none;
    margin-bottom: 0;
}

.table-heading .entry-header .entry-title {
    font-size: 16px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.product-table table thead {
    background-color: #ee3524;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.product-table table thead th,
.product-table table thead td {
    text-align: center;
}

.product-table .table-data table tr:nth-child(odd) {
    background-color: transparent;
}

.product-table .table-data-bg {
    background-color: #cac3c3;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

table ~ p {
    margin-top: 0;
    padding: 6px;
}

.table-note {
    font-size: 12px;
    margin-top: 0;
}

/*---------------------------------------
#product and sale css
------------------------------------------*/

.sidebar {
    background-color: #fbf8f0;
    padding: 20px;
    border: solid #eee 1px;
}

.sidebar .widget {
    border-bottom: solid #eee 1px;
}

.sidebar .widget:last-child,
.sidebar .widget .signup-button {
    border-bottom: none;
    margin-bottom: 0;
}

.sidebar .widget .signup-button,
.sidebar .widget .signup-button[input="submit"] {
    margin-top: 0;
}

.default-section li {
    padding-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.default-section li::before,
.operation-sub-part li::before,
.production-chain-tab li::before,
.operation-sub-part .entry-content li::after {
    content: "\f0a4";
    position: absolute;
    font-family: FontAwesome;
    left: 0;
    color: #ee3524;
}

.operation-sub-part .entry-content p {
    font-family: 'Open Sans', sans-serif;
}

.sidebar input[type="email"],
.sidebar input[type="submit"] {
    border-radius: unset;
    width: 100%;
    margin-top: 10px;
    padding: 15px 20px;
    box-shadow: 0px 0px 0px 2px transparent;
    transition: box-shadow 0.3s;
}

.sidebar input[type="submit"] {
    background-color: #5f666b;
    border-color: #5f666b;
    font-size: 16px;
    color: #fff;
}


/*---------------------------------------
#single-page
------------------------------------------*/

.single-page ul {
    padding: 0 0 20px;
}

.single-page li {
    display: inline-block;
    padding-right: 15px;
}

.single-page li i {
    color: #ee3524;
}

.single-page .entry-header h3.entry-title {
    font-size: 35px;
}

/*---------------------------------------
#operation
------------------------------------------*/

.sub-part-content {
    margin-top: 30px;
}

.operation-list-item .entry-content p {
    margin-top: 0;
}

.production-item {
    margin: 0 30px;
}

.production-chain-tab {
    margin-top: 30px;
}

#production-chain li::before {
    content: none;
}

.operation-sub-part ul {
    margin-top: 30px;
}

.production-chain-tab .resp-vtabs ul.resp-tabs-list {
    margin-top: 0 !important;
}

.production-chain-tab .resp-vtabs li.resp-tab-active {
    background-color: #f5f5f5 !important;
    margin-bottom: 10px !important;
    border-top: none;
}

.production-chain-tab .resp-vtabs li.resp-tab-active span {
    background-color: #ee3524 !important;

}

.production-chain-tab .resp-vtabs .resp-tabs-list li {
    padding: 0;
    height: 50px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
}

.production-chain-tab .resp-vtabs .resp-tabs-list li span {
    background-color: #5f666b;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 40px;
    float: left;
    text-align: center;
    padding: 4px;
    margin-right: 15px;
}

.production-chain-tab .resp-vtabs .resp-tabs-container {
    border: solid #eee 1px !important;
    background-color: #fbf8f0;
    border-radius: unset;
}

.operation-point .operation-point-img,
.operation-point .operation-content {
    display: table-cell;
    vertical-align: top;
}

.operation-point {
    padding: 10px 0;
}

.operation-point .operation-point-img {
    padding-right: 30px;
}

.mc4wp-alert p {
    color: #5f666b;
    position: relative;
    z-index: 1;
    background-color: #fffcf4;
    padding: 20px;
    margin: 0;
}

/*---------------------------------------
#popup
------------------------------------------*/

.popup_content {
    background: #fff;
    width: 70%;
    padding: 50px 120px 35px;
    top: 2%;
    margin-bottom: 2%;
    background: #fbf8f0;
}

.popup_background {
    opacity: 0.8 !important;
}

.popup_content figure {
    margin: 0 auto 20px;
    text-align: center;
}

.popup_content h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.popup_content table th,
.popup_content table td {
    width: 80px;
}

.popup_content table th {
    text-align: center;
}

.popup_content .close-btn {
    position: absolute;
    top: 37px;
    right: 40px;
    height: 20px;
    width: 20px;
    text-align: center;
    display: block;
    cursor: pointer;
}

.popup_content .close-btn::before {
    color: #5f666b;
    font-family: "FontAwesome";
    font-size: 18px;
    content: "\f00d";
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.popup_content .close-btn:hover:before {
    opacity: 0.6;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}




@media (max-width: 1200px) {
    .header-group {
        padding: 20px 0 0px;
    }

    .header-group .mean-container .mean-bar {
        background-color: #5f666b;
        z-index: 100;
    }
    .header-group .mean-container a.meanmenu-reveal {
        color: #ee3523;
    }

    .header-group .mean-container a.meanmenu-reveal span {
        background-color: #FFF;
    }

    .header-group .mean-container .mean-nav ul li a {
        background-color: #e7e6e0;
        color: #5f666b;
    }

    .header-group .mean-container .mean-nav ul li a.mean-expand {
        height: 25px;
    }

    .site-banner .owl-carousel .owl-nav .owl-prev {
        left: 15px;
    }

    .site-banner .owl-carousel .owl-nav .owl-next {
        right: 15px;
    }

    .description-item,
    .site-news .news-heading {
        padding: 20px;
    }

    .news-heading .link-btn {
        float: none;
    }
    .number-counter .counter-value {
        font-size: 40px;
    }

    .contact-info,
    .sales-info {
        padding: 13px;
    }

    .contact-info ul li .icon-box i {
        width: 45px;
    }

}

@media (max-width: 1024px) {
    .header-group .col-4:first-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .header-group .col-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
        flex: 0 0 45%;
        max-width: 45%;
        margin: 0 auto;
    }

    .header-group .col-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 27.5%;
        flex: 0 0 27.5%;
        max-width: 27.5%;
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 0;
    }
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/

@media (max-width: 767px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        font-size: 15px;
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }

    .banner-content .entry-title {
        font-size: 22px;
    }

    .description-item .entry-header .entry-title,
    .news-heading .entry-header .entry-title,
    .abt-info .entry-header .entry-title,
    .site-team .entry-header .entry-title,
    .abt-site-info .entry-header .entry-title,
    .site-contact .entry-header .entry-title,
    .company-structure .entry-header .entry-title,
    .news-section .entry-header .entry-title,
    .career-section .entry-header .entry-title,
    .internship-section .entry-header .entry-title,
    .career-list-section .entry-header .entry-title {
        font-size: 22px;
        padding-bottom: 15px;
    }

    .description-item .entry-header .entry-title::before,
    .news-heading .entry-header .entry-title::before,
    .abt-info .entry-header .entry-title::before,
    .site-team .entry-header .entry-title::before,
    .abt-site-info .entry-header .entry-title::before,
    .site-contact .entry-header .entry-title::before,
    .company-structure .entry-header .entry-title::before,
    .news-section .entry-header .entry-title::before,
    .career-section .entry-header .entry-title::before,
    .internship-section .entry-header .entry-title::before,
    .career-list-section .entry-header .entry-title::before {
        width: 50px;
    }

    .btn {
        padding: 4px 20px;
        font-size: 12px;
        font-weight: 600;
    }

    .btn::before {
        border-top-width: 31px;
    }

    .banner-content {
        padding: 100px 0;
        margin-right: 0;
    }

    .number-counter .counter-value {
        font-size: 25px;
        margin-top: 15px;
    }

    .number-counter .number-title {
        font-size: 16px;
    }

    .number-counter,
    .site-core-value,
    .site-info,
    .site-news,
    .page-title-box,
    .abt-info,
    .company-structure,
    .site-team,
    .abt-site-info-item,
    .operation-sub-part,
    .product-section,
    .single-product-section,
    .default-section,
    .single-page,
    .operation-sub-part,
    .sustainable-section,
    .internship-section,
    .career-list-section,
    .news-section,
    .site-contact {
        padding: 50px 0;
    }

    .management-team,
    .apply-form {
        padding-top: 0;
    }
    .site-description {
        padding-bottom: 50px;
    }

    .site-news .news-heading,
    .description-item {
        padding: 20px;
    }

    .header-group .mean-container .mean-bar,
    .sustainable-post,
    .product-post {
        margin-top: 15px;
    }

    .site-core-value figure,
    .contact-form3 {
        margin-top: 30px;
    }

    .copyright .col-6,
    .site-news .col-6,
    .article-post .col-6,
    .article-list .col-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .site-description .col-7 {
        position: static;
    }

    .description-img {
        padding-top: 30px;
    }

    .popup_content {
        padding: 30px;
    }

    .number-counter .col-4,
    .operation-item .col-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .number-counter figure {
        margin-right: 20px;
        margin-left: 0px;
    }

    .abt-map {
        width: 100%;
        position: static;
        line-height: 0;
    }

    .production-chain-tab {
        margin-bottom: 30px;
    }

    .production-item,
    .career-section figure {
        margin: 0;
    }

    .page-title-box li {
        font-size: 16px;
    }
    .sustainable-section .entry-header .entry-title,
    .product-section .entry-header .entry-title {
        font-size: 28px;
    }

    .article-post .entry-header .entry-title a {
        font-size: 20px;
    }

    .news-year {
        margin-bottom: 30px;
    }

    .sidebar {
        margin-top: 30px;
    }

    .site-news .col-7,
    .career-section {
        padding-top: 50px;
    }

    .popup_content {
        width: 90%;
    }

    .popup_content .close-btn {
        top: 15px;
        right: 15px;
    }

    .apply-form {
        padding-bottom: 50px;
    }

    .signup-section {
        padding: 55px 0 75px;
        background-position: 46% 100% !important;
    }

    .career-section .working-content {
        padding: 20px;
    }
}

@media (max-width: 575px) {
    .header-top .entry-title {
        font-size: 14px;
    }

    .description-item .entry-header span,
    .news-heading .entry-header span {
        font-size: 20px;
    }

    .copyright .col-6,
    .site-news .col-6,
    .number-counter .col-4,
    .header-group .col-4,
    .header-group .col-2,
    .operation-item .col-4,
    .article-list .col-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .header-group .col-4,
    .header-group .col-2 {
        text-align: center;
        padding: 0 15px;
    }

    .header-item img {
        float: none;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .copyright .col-6 {
        text-align: center;
    }

    .copyright p {
        text-align: inherit;
        padding-top: 5px;
    }

    .description-item {
        margin-top: -30px;
    }

    .site-banner .owl-carousel .owl-nav {
        display: none;
    }

    .site-news .col-7 {
        padding-top: 30px;
    }

    .signup-content .mc4wp-form:before {
        width: 130px;
    }

    .signup-content .mc4wp-email-box {
        width: -webkit-calc(100% - 100px);
    }

    .signup-content .signup-button {
        width: 100px;
    }
    .signup-content .mc4wp-email-box input {
        padding: 10px;
    }

    .job-listing-item .listing-item-img {
        display: block;
        width: 50%;
    }

    .table-data {
        /* width: 290px;
 height: 100px;
 overflow-x: scroll;
 margin: 0 auto;
 overflow-y: hidden;
 border: solid #eee 2px;*/
}

table th {
    font-size: 14px;
    padding: 10px 5px;
}

}

/*------new table css*/

table.tablepress  th, 
table.tablepress  td {
    border: 2px solid rgba(238, 238, 238, 0.75);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

table.tablepress tr:nth-child(odd) {
    background-color: transparent;
}

.row-3,
.row-4 {
    background-color: #ee3524 !important;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
}

tr.row-1 td,
tr.row-2 td,
tr.row-5 td,
tr.row-11 td {
    text-align: left;
}

.tablepress tbody tr:first-child td {
    border-top: 2px solid rgba(238, 238, 238, 0.75) !important;
}